# Hoofstuk 9 Oefeninge

## Oefening 9.1: Data Skoonmaak

Jy het 'n datastel met ontbrekende waardes en uitskieters.

In [ ]:
import pandas as pd
import numpy as np

# Skep 'n voorbeeld DataFrame
data = {'Naam': ['Alice', 'Bob', 'Charlie', None, 'Eve'],
        'Ouderdom': [25, np.nan, 35, 40, 50],
        'Salaris': [50000, 70000, 120000, 110000, 90000],
        'Ervaring': [2, 10, np.nan, 7, 15]}
df = pd.DataFrame(data)

# Druk die DataFrame om die ontbrekende waardes te sien
print("Oorspronklike DataFrame met ontbrekende waardes:")
print(df)

1.   Verwyder rye waar die Naam ontbreek.
2.   Vul ontbrekende waardes in die Ouderdom- en Ervaring-kolomme met hul onderskeie gemiddeldes.

## **oplossing**

In [ ]:
# Verwyder rye waar 'Naam' ontbreek
df.dropna(subset=['Naam'], inplace=True)

# Vul ontbrekende waardes in 'Ouderdom' met die gemiddelde (nuwe manier)
df.fillna({'Ouderdom': df['Ouderdom'].mean()}, inplace=True)

# Vul ontbrekende waardes in 'Ervaring' met die gemiddelde (nuwe manier)
df.fillna({'Ervaring': df['Ervaring'].mean()}, inplace=True)

# Druk die DataFrame na die hantering van ontbrekende waardes
print("\nDataFrame na die hantering van ontbrekende waardes (nuwe manier):")
print(df)

## Oefening 9.2: Kenmerk-ingenieurswese

Skep 'n nuwe kenmerk genaamd 'Ouderdomsgroep' in die bostaande DataFrame, gebaseer op die Ouderdom-kolom. Gebruik die volgende groepe: "Jong" vir Ouderdom <= 30, "Middeljarige" vir Ouderdom tussen 31 en 45, en "Senior" vir Ouderdom > 45.

In [ ]:
import pandas as pd
import numpy as np

# Skep 'n voorbeeld DataFrame (as jy nie reeds een het nie)
data = {'Naam': ['Alice', 'Bob', 'Charlie', 'David', 'Eve', 'Frank', 'Grace'],
        'Ouderdom': [25, 32, 48, 15, 60, 40, 30]}
df = pd.DataFrame(data)

## **oplossing**

In [ ]:
# Skep 'n nuwe kenmerk 'Ouderdomsgroep' gebaseer op die 'Ouderdom'-kolom
# Gebruik die volgende groepe:
# "Jong" vir Ouderdom <= 30
# "Middeljarige" vir Ouderdom tussen 31 en 45
# "Senior" vir Ouderdom > 45
df['Ouderdomsgroep'] = pd.cut(df['Ouderdom'],
                            bins=[0, 30, 45, np.inf],
                            labels=['Jong', 'Middeljarige', 'Senior'],
                            right=True) # right=True is die verstek, wat beteken [0, 30], (30, 45], (45, inf]

# Druk die DataFrame met die nuwe 'Ouderdomsgroep'-kolom
print(df)

## Oefening 9.3: Data Transformasie

Pas Min-Maks-skalering toe op die Salaris-kolom van die DataFrame.

In [ ]:
import pandas as pd
import numpy as np

# Skep 'n voorbeeld DataFrame
data = {'Naam': ['Alice', 'Bob', 'Charlie', None, 'Eve'],
        'Ouderdom': [25, np.nan, 35, 40, 50],
        'Salaris': [50000, 70000, 120000, 110000, 90000],
        'Ervaring': [2, 10, np.nan, 7, 15]}
df = pd.DataFrame(data)

## **oplossing**

In [ ]:
from sklearn.preprocessing import MinMaxScaler

# Inisialiseer die MinMaxScaler
skaler = MinMaxScaler()

# Pas Min-Maks-skalering toe op die 'Salaris'-kolom
df['Salaris'] = skaler.fit_transform(df[['Salaris']])

# Druk die DataFrame met die geskaalde 'Salaris'-kolom
print(df)