# Leereenheid 4.1
## Hanteer datakwaliteitskwessies en pas toepaslike tegnieke toe om data skoon te maak.

### Voorbeelde van hoofstuk 9.1 in handboek

In [ ]:
# Laai die Pandas en Numpy biblioteke

import pandas as pd
import numpy as np

In [ ]:
# Skep die DataFrame
df = pd.DataFrame({
    'Name': ['Alice', 'Bob', 'Charlie', 'David'],
    'Age': [25, np.nan, 35, 40],
    'Occupation': ['Engineer', 'Doctor', 'NaN', 'Artist']
})

In [ ]:
# kyk vir ontbreke waardes
print(df.isnull())

In [ ]:
# verwyder rye met ontbreke waardes

df_dropped = df.dropna()
print(df_dropped)

In [ ]:
# 'n Ander opsie is om ontbrekende waardes in te vul
df = pd.DataFrame({
    'Name': ['Alice', 'Bob', 'Charlie', 'David'],
    'Age': [25, np.nan, 35, 40],
    'Occupation': ['Engineer', 'Doctor', 'NaN', 'Artist']
})

df_filled = df.fillna({
    'Age': df['Age'].mean(),
    'Occupation': 'Unknown'
})

print(df_filled)

In [ ]:
# soek rye wat duplikate is
duplicates = df.duplicated()
print(f"Number of duplicate rows = {duplicates.sum()}")

# verwyder duplikate rye
df = df.drop_duplicates()

In [ ]:
# Voorbeeld DataFrame met persentasie in verskillende formate
df = pd.DataFrame({
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Percentage': ['90%', '0.8', '85']
})

In [ ]:
# Standardiseer persentasie reÃ«le tiepe
df['Percentage'] = df['Percentage'].replace('%', "", regex=True).astype('float') / 100
print(df)#

In [ ]:
# Laai die stats module van die SciPy biblioteek
from scipy import stats

In [ ]:
# Skep 'n eenvoudige DataFrame
data = {'Naam': ['Anna', 'Pieter', 'Klara', 'Jan', 'Sarel', 'Mieke', 'Frans'],
        'Ouderdom': [25, 30, 28, 22, 85, 31, 26]}
df = pd.DataFrame(data)

# Bereken Z-tellings
z_tellings = np.abs(stats.zscore(df['Ouderdom'].dropna()))
print(z_tellings)
uitskieters = (z_tellings > 2)

# Vertoon uitskieters
print(df['Ouderdom'][uitskieters])

In [ ]:
import pandas as pd
import numpy as np
from imblearn.over_sampling import RandomOverSampler

# Skep 'n ongebalanseerde datastel (voorbeeld met moontlike float-waardes)
X = pd.DataFrame({'Kenmerk_1': np.random.rand(100),
                  'Kenmerk_2': np.random.rand(100)})
y = np.concatenate([np.zeros(90), np.ones(10)]).astype(int)


print("Vorm van X:", X.shape)
print("Vorm van y:", y.shape)
print("Verhouding van klasse in y:", np.bincount(y))

ros = RandomOverSampler(random_state=42)
X_resampled, y_resampled = ros.fit_resample(X, y)

print("\nVorm van X_resampled:", X_resampled.shape)
print("Vorm van y_resampled:", y_resampled.shape)
print("Verhouding van klasse in y_resampled:", np.bincount(y_resampled))

In [ ]:
# Skep 'n eenvoudige DataFrame
data = {'Ou_Naam_Een': [1, 2, 3],
        'Ou_Naam_Twee': ['A', 'B', 'C']}
df = pd.DataFrame(data)

# Wys die oorspronklike DataFrame
print("Oorspronklike DataFrame:")
print(df)

# Hernoem kolomme
df.rename(columns={'Ou_Naam_Een': 'Nuwe_Naam_Een',
                   'Ou_Naam_Twee': 'Nuwe_Naam_Twee'}, inplace=True)

# Wys die DataFrame met die hernoemde kolomme
print("\nDataFrame met hernoemde kolomme:")
print(df)

In [ ]:
def simple_label_encode(labels):
    """
    Enkodeer 'n lys van stringetikette na 'n lys van numeriese etikette.

    Parameters:
    labels (list): 'n Lys van stringetikette.

    Returns:
    tuple: 'n Tupel wat die enkodeerde etikette (lys) en 'n mapping (woordeboek) bevat.
    """
    unique_labels = sorted(list(set(labels)))
    label_to_index = {label: index for index, label in enumerate(unique_labels)}
    encoded_labels = [label_to_index[label] for label in labels]
    return encoded_labels, label_to_index


# Skep 'n eenvoudige DataFrame met 'n kategoriese kolom
data = {'kleur': ['rooi', 'blou', 'groen', 'rooi', 'blou']}
df = pd.DataFrame(data)

# Wys die oorspronklike DataFrame
print("Oorspronklike DataFrame:")
print(df)

# Pas aan en transformeer die 'kleur'-kolom
encoding = simple_label_encode(df['kleur'])
df['kleur_gekodeer'] = encoding[0]

# Wys die DataFrame met die enkodering
print("\nDataFrame met gekodeerde 'kleur'-kolom:")
print(df)

# Wys die afbeelding van oorspronklike klasse na enkodering
print("\nAfbeelding van oorspronklike klasse na enkodering:")
print(dict(zip(encoding[1], encoding[0])))